@model List<Course>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("BannerArea", new { title = "Courses" })
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Course")
    </div>
</div>
<!-- Course End -->
