@model List<Event>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("BannerArea", new { title = "Event" })
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        @await Component.InvokeAsync("Event")
    </div>
</div>
<!-- Event End -->
