@{
    ViewData["Title"] = "Home Page";
    HomeViewModel homeViewModel = Model;


}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->

        @foreach (var item in homeViewModel.Slider)
        {

            <div class="single-slide item" style="background-image: url(../img/@item.BackgroundImage)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">

                                        @Html.Raw(item.Title)

                                        <p>@item.Subtitle </p>
                                        <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="slider-img">
                                    <img src="~/img/@item.Image" alt="slider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }



        <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Course", new { take = 3, skip = 1 })
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("Notice")
<!-- Notice End -->
<!-- About Start -->
@await Component.InvokeAsync("About")
<!-- About End -->
<!-- Event Area Start -->
@await Component.InvokeAsync("Event")

<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial")
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Blog", new { take = 3, skip = 1 })

    </div>
</div>
<!-- Blog Area End -->
