@model ChangePasswordViewModel;
@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body bg-dark font-weight-bold text-white">
                <h4 class="card-title text-white">Change password</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Username">Username</label>
                        <input asp-for="Username" class="form-control" placeholder="Name" disabled>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OldPassword">Old Password</label>
                        <input asp-for="OldPassword" class="form-control" placeholder="OldPassword">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="NewPassword">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Change password</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

}
