@model NoticeViewModel

<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>@Model.VideoTour.Title</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.VideoTour.VideoLink">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @foreach (var board in Model.NoticeBoards)
                        {
                            <div class="single-notice-left mb-23 pb-20">
                                <h4>@board.DateTitle.ToString("dd, MMMM yyyy")</h4>
                                <p>@board.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>
